@use "../scss/variables.scss" as *;

.footer {
  background-color: $footer-background-color;
  color: $color-tertiary;
  padding: 20px;
  text-align: center;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#copyright {
  @media screen and (max-width: 768px) { 
    width: 134px;
  }
}